@import "https://fonts.googleapis.com/css?family=Permanent Marker";
@import "https://fonts.googleapis.com/css?family=Kaushan Script";
html {
    scroll-behavior: smooth;
}

body{
    margin: 0 0 0 0;
	width:100%;
	height:100%;
}
*{  
box-sizing:border-box;
}
.navbar{display:none;}
@media screen and (max-width: 60px) {

.navbar{
    height: 10vh;
    position: fixed;
    width: 98%;
}
ul {
	display: inline;
	max-width:80%;
}
ul li {	
	margin:2% 0 0 0;
	overflow:hidden;
    padding:auto;
    float:right;
    list-style-type:none;
}
ul li a {
	display: block;
  text-decoration: none;
  text-align:center;
  font-size: 200%;
  color: red;
  font-family: ;
  text-transform: capitalize;
  padding: 4px 4px;
  transition: 0.5s;
}
ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
ul li a:hover {
  color: #95a5a6;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
}
.main{
	position:relative;
	overflow:hidden;
}
.name{
	top:50%;
	vertical-align: middle;
	left:50%;
	margin: 0 0 0 0;
	width:100%;
	height:90vh;
	z-index:10;
	text-align:center;
	font-size:250%;
	padding:1rem;
	font-family: 'Permanent Marker';
	font-weight:350;
	background-image: url("resources/code.jpeg");
	background-size:28%;
    -webkit-background-clip: text;
    color: transparent;
	-webkit-text-fill-color:transparent;
	}
h1{
	margin-top:20%;
}
.con{
  margin:3% 20% 3% 20%;
  border-radius: 50px 15px 50px 23px;
  background: rgba(255,255,255,0.3);
  padding:5% ; 
  height:auto;
}
.row {
  content: "";
  padding:0 0 0 0;
  border-style: none;
  margin: 0 0 0 0; 
  display: table;
  clear: both;
  width: 92%;
  height: auto; 
}
.c1{  
  position:relative;
  float: right;
  width: 60%;
  padding: 4%;}
.c2{
  position:relative;
  margin-top:8vh;  
  float: left;
  width: 40%;
  padding: 2%;}
img{
	display: block;
	height:auto;
	height: 39vh;
	width:100%;
}
.heading{
	font-family: 'Permanent Marker';
	font-size:300%;
	text-decoration: underline;
	color:black;
	font-weight:325;
}
.matter{
	font-family: 'Kaushan Script';
	font-size:200%;
	text-decoration: none;
	color:blue;
	font-weight:300;
}

.insta,.github{
	margin:0 0 2vh 9vh;
	padding:5%;
	width:20vh;
	height:auto;
}
footer{
	 height:10vh;
	 padding:0 20% ; 
	 margin:0;
}
.thanks,.up{
  border-radius: 100px;
  background: rgba(60, 209, 222, 0.79);
  padding:1.8% 7%;
  margin:0;
  vertical-align:middle;
  color:black;
  font-family: 'Kaushan Script';
  font-size:200%; 
  width:auto;
  height:94%;
  float:left;
  text-decoration:none;
}
.up{
	float:right;
}
.up:hover{
	background:rgba(60, 209, 222, 0.16);
}
@media screen and (max-width: 1050px) {
  .c1,.c2 {
    width: 100%;
    text-align: center;
  }
  img {
    height:30vh;
	max-width:100%;
  }
  .con{
  margin:4% 4% 3% 5%;
  }
  h1{
	margin-top:35%;
}
footer{
	padding:0 5%;
}
.thanks,.up{
	padding:4% 9%;
	font-size:170%; 
	height:94%;
}

.insta,.github{
	display:inline-block;
	margin:0 0 2vh 9vh;
	padding:5%;
	width:20vw;
	height:auto;
}
}
@media screen and (max-width: 700px) {
h1{
	margin-top:45%;
}
img{
	height:20vh;
}
}
@media screen and (max-width: 450px) {
	.heading{
		font-size:200%;
	}
	.matter{
		font-size:150%;
	}
	img{	
	height:25vh;
}

.insta,.github{
	margin:0 0 2vh 2vh;
	padding:5%;
	width:20vh;
	height:auto;
}
footer{
	padding:0 8%;
}
.thanks,.up{
	font-size:150%; 
}
}


/*BACKGROUNG TAKEN FROM 
* https://www.codingflicks.com/2020/08/animated-background-with-pure-css-and-html.html
* Big thanks to him/her :)*/

.box {
position:fixed;
z-index:-3;
height: 100%;
width: 100%;
background: linear-gradient(180deg, #4398ead6, #f8ffffcc);
height: 100vh;
}

.box div {
height: 60px;
width: 60px;
position: absolute;
top: 10%;
left: 10%;
animation: animate 4s linear infinite;
background: rgba(255,255,255,.5);
border-radius: 15px;
}
.box div:nth-child(1) {
top: 20%;
left: 20%;
animation: animate 8s linear infinite;
}
.box div:nth-child(2) {
top: 26%;
left: 89%;
animation: animate 10s linear infinite;
}
.box div:nth-child(3) {
top: 80%;
left: 90%;
animation: animate 5s linear infinite;
}
.box div:nth-child(4) {
top: 65%;
left: 75%;
animation: animate 7s linear infinite;
}
.box div:nth-child(5) {
top: 90%;
left: 10%;
animation: animate 9s linear infinite;
}
.box div:nth-child(6) {
top: 30%;
left: 60%;
animation: animate 5s linear infinite;
}
.box div:nth-child(7) {
top: 70%;
left: 33%;
animation: animate 8s linear infinite;
}
.box div:nth-child(8) {
top: 75%;
left: 60%;
animation: animate 10s linear infinite;
}
.box div:nth-child(9) {
top: 23%;
left: 50%;
animation: animate 6s linear infinite;
}
.box div:nth-child(10) {
top: 35%;
left: 7%;
animation: animate 10s linear infinite;
}
@keyframes animate {
0% {
transform: scale(0) translateY(0) rotate(50deg);
}
100% {
transform: scale(1.6) translateY(-250px) rotate(360deg);
}
}
